# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle and Maven with auto-import
auto-import.
.idea
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# IntelliJ
out
classes
md-runner/target
md-service-api/target
md-service-impl/target
md-rest/target
md-dao/target
md-integration-tests/target

# React
.DS_STORE
node_modules
build/